<div class="container">
  <p style="text-align: center; font-size: 30px; font-family: Lato; margin-top: 40px; padding: 20px;"> This tool can be used for the submission of <strong>projects</strong> and scheduling <strong>presentations</strong>. The admins can schedule a presentation and give a deadline for the submission of projects to be presented. Students can <strong>upvote</strong> the projects they like and <strong>downvote</strong> the ones they don't.</p>
  <center><a href="https://github.com/skhanna1011/project-management-tool" target="_blank" style="text-align: center;">Source-code</a></center>
</div>