<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<div class='outer-box'>
  <div class ="item">
    <h2> New project submission </h2>
  </div>

  <%= render 'project' %>
  <br/>
  <div class="action">
    <%= link_to 'Back', project_demos_latest_path, class: 'btn btn-primary btn-sm', type: 'button' %>
  </div>
</div>

